main, h1{ padding:1em;}

html{
  background-color: lightgray;
}

h1{ color: orangered;}
img{
  height: 10rem;
  width: auto;
  border-radius: 15%;
  box-shadow: 5em;
}
nav{box-shadow: 5em;}
main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}
li{list-style-type: none;}
footer{
  border: thin solid black;
}
footer p{color: orangered;}